.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 4fr 2fr 2fr;
  grid-template-areas:
    "nav nav nav nav"
    "main main main main"
    "sidebar1 content1 content2 sidebar2"
    "footer footer footer footer";
  grid-gap: 0.2rem;
}

.hotel-pic {
  grid-area: main;
  height: 400px;
  padding-left: 40px;
}

nav {
  background-color: aquamarine;
  grid-area: nav;
}

main {
  background: #a3a3a3;
  grid-area: main;
}

#sidebar1 {
  background-color: bisque;
  grid-area: sidebar1;
}

#sidebar2 {
  background-color: bisque;
  grid-area: sidebar2;
}

#content1 {
  background-color: burlywood;
  grid-area: content1;
}

#content2 {
  background-color: darkgreen;
  grid-area: content2;
}

/*footer*/

footer {
  grid-area: footer;
  background: #f2f0e7;
  color: #000000;
  display: flex;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.col-2 {
  flex-grow: 2;
  width: 34vw;
}
.col-1 {
  width: 33vw;
}
.col-3 {
  width: 33vw;
}

.footer div h3 {
  font-weight: 200;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.col-1 a {
  display: block;
  text-decoration: none;
  color: #000000;
  margin-bottom: 10px;
}

form input {
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
}

form button {
  background: transparent;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}

.social-icons {
  margin-top: 30px;
}

.social-icons i {
  font-size: 23px;
  margin: 10px;
  cursor: pointer;
}
/*footer ends*/

@media screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 2.2fr 1fr;
    grid-template-areas:
      "nav"
      "main"
      "content1"
      "content2"
      "content3"
      "footer";
  }
}
