.container {
  font-family: Arial, Helvetica, sans-serif;
}

/* stars */
i {
  color: #f6be19;
  font-size: 16px;
  margin: 9px 0.1px;
  width: 18px;
}

/* Navigation bar starts here*/

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 7%;
  background-color: #f2f0e7;
}

.logo {
  height: 70px;
  cursor: pointer;
}

.account {
  height: 30px;
  cursor: pointer;
  margin-right: 2vw;
}

.cart {
  height: 30px;
  cursor: pointer;
}

.menu {
  height: 30px;
}

.nav-links li {
  list-style: none;
  display: inline-block;
  margin: 10px 30px;
}

.nav-links li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.active {
  position: relative;
}

.active::after {
  content: " ";
  background: rgb(255, 255, 255);
  width: 25px;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -12px;
  border-radius: 2px;
}

nav .menu {
  display: none;
}

/* For mobile version */
@media only screen and (max-width: 700px) {
  .logo {
    position: fixed;
    top: 4%;
    left: 7%;
  }
  nav {
    position: fixed;
    top: 0;
    z-index: 100;
    display: inline-block;
    width: 100%;
    padding: 100px 7% 0;
    background: rgb(242, 240, 231);
    text-align: right;
    max-height: 100px;
    overflow: hidden;
    transition: max-height 0.5s;
    font-size: 22px;
  }
  nav .nav-links li {
    margin: 10px 0;
    display: block;
  }
  .account {
    margin: 15px 0 30px;
    display: inline-block;
  }
  .cart {
    margin: 15px 0 30px;
    display: inline-block;
  }
  nav .menu {
    display: block;
    position: fixed;
    top: 3%;
    right: 7%;
  }
  .active::after {
    left: -40px;
    transform: translate(0, 50%);
    bottom: 50%;
    border-radius: 2px;
  }
  .hidemenu {
    max-height: 350px;
  }

  .activities {
    margin-top: 20px;
  }
}

/* Navigation bar ends here*/

.container {
  margin: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.adults-box {
  margin-right: 25px;
}

.special-requests {
  width: 300px;
  height: 100px;
}

.title {
  margin-right: 10px;
}

.container-form {
  padding: 5px;
  margin: 0 auto;
}
.container-form1 {
  margin-bottom: 30px;
}

.hotel-pic {
  border-radius: 12px;
}

form {
  display: grid;
  grid-row-gap: 10px;
}

.form-field {
  display: flex;
  height: 20px;
  align-items: baseline;
  margin-bottom: 30px;
}

input,
select {
  padding: 5px 10px;
}

.btn {
  border-radius: 5px;
  width: 150px;
  padding: 3px 10px;
  box-shadow: 7px 10px 12px rgb(93, 93, 93);
  margin-top: 100px;
}

.btn:hover {
  transform: scale(1.03);
  box-shadow: 10px 12px 14px rgb(93, 93, 93);
}

@media only screen and (max-width: 700px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: auto;
  }
}

/* Add to Cart */

#cart1 {
  display: none;
}
