a {
  text-decoration: none;
  color: black;
}

/* Navigation bar starts here*/
.navbar {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 14px;
  font-weight: 200px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f0e7;
  color: rgb(0, 0, 0);
  padding: 10px;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.navbar ul li {
  padding: 20px;
}

/* Navigation bar ends here*/

.hotel {
  border-radius: 50%;
}

.activities {
  border-radius: 50%;
}
