* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(homebackground.jpg);
  background-size: cover;
  background-position: center;
}

/* Navigation bar starts here*/

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 7%;
  background-color: #f2f0e7;
}

.logo {
  height: 70px;
  cursor: pointer;
}

.account {
  height: 30px;
  cursor: pointer;
  margin-right: 2vw;
}

.cart {
  height: 30px;
  cursor: pointer;
}

.menu {
  height: 30px;
}

.nav-links li {
  list-style: none;
  display: inline-block;
  margin: 10px 30px;
}

.nav-links li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.active {
  position: relative;
}

.active::after {
  content: " ";
  background: rgb(255, 255, 255);
  width: 25px;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -12px;
  border-radius: 2px;
}

nav .menu {
  display: none;
}

/* For mobile version */
@media only screen and (max-width: 700px) {
  .logo {
    position: fixed;
    top: 4%;
    left: 7%;
  }
  nav {
    position: fixed;
    top: 0;
    z-index: 100;
    display: inline-block;
    width: 100%;
    padding: 100px 7% 0;
    background: rgb(242, 240, 231);
    text-align: right;
    max-height: 100px;
    overflow: hidden;
    transition: max-height 0.5s;
    font-size: 22px;
  }
  nav .nav-links li {
    margin: 10px 0;
    display: block;
  }
  .account {
    margin: 15px 0 30px;
    display: inline-block;
  }
  .cart {
    margin: 15px 0 30px;
    display: inline-block;
  }
  nav .menu {
    display: block;
    position: fixed;
    top: 3%;
    right: 7%;
  }
  .active::after {
    left: -40px;
    transform: translate(0, 50%);
    bottom: 50%;
    border-radius: 2px;
  }
  .hidemenu {
    max-height: 350px;
  }

  .activities {
    margin-top: 20px;
  }

  
}

/* Navigation bar ends here*/

.hotel {
  border-radius: 50%;
}

.activities {
  border-radius: 50%;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}
