body {
  font-family: 'Times New Roman', Times, serif
}

h1 {
  font-family: Arial, Helvetica, sans-serif
}

/* Navigation bar starts here*/

.header {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 7%;
  background-color: #f2f0e7;
}

.logo {
  height: 70px;
  cursor: pointer;
}

.account {
  height: 30px;
  cursor: pointer;
  margin-right: 1.5vw;
}

.cart {
  height: 30px;
  cursor: pointer;
}

.menu {
  height: 30px;
}

.nav-links li {
  list-style: none;
  display: inline-block;
  margin: 10px 30px;
}

.nav-links li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.active {
  position: relative;
}

.active::after {
  content: " ";
  background: rgb(255, 255, 255);
  width: 25px;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -12px;
  border-radius: 2px;
}

nav .menu {
  display: none;
}

@media only screen and (max-width: 700px) {
  .logo {
    position: fixed;
    top: 4%;
    left: 7%;
  }
  nav {
    position: fixed;
    top: 0;
    z-index: 100;
    display: inline-block;
    width: 100%;
    padding: 100px 7% 0;
    background: rgb(242, 240, 231);
    text-align: right;
    max-height: 100px;
    overflow: hidden;
    transition: max-height 0.5s;
    font-size: 22px;
  }
  nav .nav-links li {
    margin: 10px 0;
    display: block;
  }
  .account {
    margin: 15px 0 30px;
    display: inline-block;
  }
  .cart {
    margin: 15px 0 30px;
    display: inline-block;
  }
  nav .menu {
    display: block;
    position: fixed;
    top: 3%;
    right: 7%;
  }
  .active::after {
    left: -40px;
    transform: translate(0, 50%);
    bottom: 50%;
    border-radius: 2px;
  }
  .hidemenu {
    max-height: 350px;
  }

  .activities {
    margin-top: 20px;
  }
}

/* Navigation bar ends here*/

/* Main Text */

h1 {
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.main-text {
  margin-left: 350px;
  margin-right: 350px;
}

@media only screen and (max-width: 700px) {
  .main-text {
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* Contacts */

.contacts-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-self: center;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 33vw;
  margin-right: 33vw;
}

.contacts-address {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.contacts-email {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.contacts-telephone {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  text-align: center;
  margin-bottom: 4vh;
  margin-top: 15vh;
  font-family: Arial, Helvetica, sans-serif;
}

h5 {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 700px) {
  .contacts-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: auto;
    margin-top: 0vh;
    margin-bottom: 0vh;
  }

  .contacts-address {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    margin-bottom: 1.5vh;
  }

  .contacts-email {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-self: center;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    margin-bottom: 1.5vh;
  }

  .contacts-telephone {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-self: center;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    margin-bottom: 1.5vh;
  }
}

/* Responsive Images */

.pictures-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 230px));
  grid-template-rows: 1fr;

  margin: 0;
  padding: 20px;
  box-sizing: border-box;

  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.pictures-container img {
  width: 350px;
  height: 230px;
  object-fit: cover;
  object-position: center;
}
